video_player_android/example/android/app/.cxx/
video_player_android/android/.idea/
video_player_android/android/.gradle/
video_player_android/example/build/
video_player_android/example/android/.gradle/
video_player_android/example/android/.idea/
