# --- System ---
.DS_Store
*.log
*.swp

# --- IDEs ---
.idea/
.vscode/
*.iml

# --- Dart / Flutter ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# --- Android ---
android/.gradle/
android/local.properties
android/key.properties
android/**/build/
android/**/generated/
android/**/intermediates/
android/**/outputs/
android/**/tmp/

# --- iOS ---
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/ephemeral/
ios/DerivedData/

# --- Optional (configs/secrets) ---
android/app/src/main/res/raw/awsconfiguration.json
android/app/src/main/res/raw/amplifyconfiguration.json